<!DOCTYPE html>
<html>
  <head>
    <title>U-Message</title>

		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='/css/style.css'>

		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/bower_components/angular/angular.min.js"></script>
		<script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script src="/js/module.js"></script>
		<script src="/js/services.js"></script>
		<script src="/js/loginCtrl.js"></script>
		<script src="/js/navbarCtrl.js"></script>
		<script src="/js/inboxCtrl.js"></script>
		<script src="/js/composeCtrl.js"></script>
		<script src="/js/profileCtrl.js"></script>

  </head>
  <body ng-app='userMess'>
    <h1 class='col-sm-6 col-sm-offset-5'>U-Message</h1>
		<ui-view></ui-view>
  </body>
</html>
